
body {
  margin: 0;
  /* removes white border around website*/
  padding: 0;
  text-align: center;
}

/*------------------------*/
/*footer*/

footer {
  min-height: 10rem;
  background-color: grey;
  color: #ffffff;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

footer p {
  margin-top: 2rem;
  margin-left: 7rem;
  text-align: center;
}

/*------------------------*/

/*header*/
.header-menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  /*border-bottom: double;*/
  border-bottom: 1px double black;
  margin-top: 0;
  margin-bottom: 1.4rem;
}
.header-menu>a,
.header-menu>Link {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: black;
}

.hover-effect:hover {
  background-color: #f4ce14;
  transition: 0.25s;
}
/*----------------------*/

/*button component*/
.bluebtn {
  background-color: rgb(0, 112, 192);
  border-radius: 7px;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.greybtn {
  background-color: rgb(242, 242, 242);
  text-decoration: none;
  border-radius: 7px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: grey;
}

/*-------------------*/

.main-btn {
  margin: 2rem 0rem;
}